<div id="personal-page">
<div class="chooseImg">
    <span>选择头像</span>
</div>
    <div class="username">
        <span>用户昵称</span>
        <input type="text">
    </div>
    <div class="sex">
        <span>性　　别</span>
        <div class="radio">
            <label>
                <input type="radio" ng-model="sex" value="1">
                男
            </label>
            <label>
                <input type="radio" ng-model="sex" value="0">
                女
            </label>
        </div>
    </div>
    <div class="interest">
        <span>关注圈子</span>
        <div class="col-xs-8">
        <div class="checkbox" ng-repeat="(x,y) in type">
            <label>
            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="interest[x]">
                {{y}}
            </label>
        </div>
        </div>
    </div>
    <button class="btn btn-success">保存</button>
</div>