<div id="purchase-record">
    <ul class="states">
        <li ng-class="{purchaseCur:$index==payStatusType}" ng-click="changePayStatus($index)" ng-repeat="x in allPayStatus">{{x}}</li>
    </ul>
    <div class="row">
        <div class="col-sm-6">项目信息</div>
        <div class="col-sm-2">实付款（元）</div>
        <div class="col-sm-2">交易状态</div>
        <div class="col-sm-2">操作</div>
    </div>
    <ul class="records">
        <li ng-repeat="x in recordList">
            <div class="col-md-6 proimg">
            <a href="#">
                <img ng-src="{{x.img}}" alt="">
            </a>
                <div class="title">
                    <h4>{{x.name}}<br>
                        <small>by{{x.fname}}</small>
                    </h4>
                    <span>订单号：{{x.oid}}</span>
                </div>
            </div>
                <div class="money col-md-2">
                    ￥5.00
                </div>
                <div class="business-status col-md-2">
                    {{payStatus[x.status]}}
                </div>
                <div class="operation col-md-2">
                    <span>交易详情</span>
                    <span ng-click="checkDelete($index)">删除</span>
                </div>
            </div>
        </li>
    <ul class="pagination">
        <li><a  ng-click="prev()">&laquo;</a></li>
        <li ng-repeat="x in pageArr" ng-class="{active:x==recordPage,notclick:x=='...'||x=='....'}" ng-click="changePage(x)"><a>{{x}}</a></li>
        <li><a  ng-click="next()">&raquo;</a></li>
    </ul>
    </ul>
</div>