<div id="register" class="container">
<div class="register col-sm-4 col-sm-push-4">
    <form method="post" novalidate name="myForm" ng-controller="FormController">
        <h3 class="text-center">注册</h3>
        <div class="form-group">
            <input type="text" placeholder="请输入昵称" class="form-control" required name="username" ng-model="username">
            <div class="tips">
                <span ng-show="myForm.username.$error.required&&myForm.username.$dirty">昵称不能为空</span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="请输入您的手机号码" class="form-control" required name="phone" ng-model="phone" ng-pattern="/^1[13578][0-9]{9}$/">
            <div class="tips">
                <span ng-show="myForm.phone.$error.required&&myForm.phone.$dirty">手机号不能为空</span>
                <span ng-show="myForm.phone.$error.pattern">手机号格式有误</span>
                <span>{{phoneTips}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-7">
            <input type="text" placeholder="请输入验证码" class="form-control" required ng-model="checkCode" name="code">
            </div>
            <label class="col-xs-4 control-label text-center pull-right">发送验证码</label>
            <div class="tips">
                <span ng-show="myForm.code.$error.required&&myForm.code.$dirty">验证码不能为空</span>
                <span ng-show="false">验证码输入错误</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="请输入密码，不少于6位" class="form-control" required     ng-minlength=6 ng-model="psd" name="psd">
            <div class="tips">
                <span ng-show="myForm.psd.$error.required&&myForm.psd.$dirty">密码不能为空</span>
                <span ng-show="!myForm.psd.$error.required&&myForm.psd.$error.minlength">密码格式错误</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="请重复上述密码" class="form-control" required ng-model="psdRep" name="psdRep">
            <div class="tips" ng-show="myForm.psdRep.$dirty">
                <span ng-show="myForm.psdRep.$error.required">重复密码不能为空</span>
                <span ng-show="psd!=psdRep && myForm.psd.$valid">两次输入的密码不一致</span>
            </div>
        </div>
        <button class="btn btn-block btn-success" ng-click="reg()" ng-disabled="myForm.$invalid||psd!=psdRep||!checkbox">注册</button>
        <div class="checkbox">
            <label>
            <input type="checkbox" ng-model="checkbox">同意《全名创造用户协议》
            </label>
        </div>
    </form>
    <hr class="login-method-hr">
    <div class="login-method">
        <h5>第三方登录</h5>
        <a href="#" class="fa fa-weixin"></a>
        <a href="#" class="fa fa-qq"></a>
        <a href="#" class="fa fa-weibo"></a>
    </div>
    <h6>已有帐号？<a ui-sref="login">登录</a></h6>
</div>
</div>